{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Séries
{% endblock %}

{% block body %}
	<section class="section-categories">
		<h1 class="p-4 text-center">Liste de toutes les séries</h1>
		<div class="container">
			<div class="row">
				{% for program in programs %}
					<div class="col-12 col-sm-4 col-md-3 g-4 mb-4">
						<div class="card">
							<img src="{{program.poster}}" class="rounded-top img-card" alt="Image de la série">
							<div class="card-body">
								<h2 class="text-dark">{{program.title}}</h2>
								<p class="text-dark">{{program.synopsis}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
