.section-program {
  height: calc(100vh - 62px);
  width: 100%;
  background: url("/public/build/images/alice-in-wonderland-alice-alice-madness-returns-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}
.section-category {
  height: calc(100vh - 62px);
  width: 100%;
  background: url("/public/build/images/movie-alice-in-wonderland-2010-colorful-fantasy-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

.card-program {
  max-height: 680px;
  height: 100%;
  .card-body {
    overflow: auto;
  }
}

.img-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 380px;
}

.img-card-show {
  object-fit: contain;
  max-height: 380px;
}
