.section-program {
  padding-top: 62px;
  height: calc(100vh - 62px);
  width: 100%;
  background: url("/public/build/images/alice-in-wonderland-alice-alice-madness-returns-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}
.section-category {
  padding-top: 62px;
  height: calc(100vh - 62px);
  width: 100%;
  background: url("/public/build/images/movie-alice-in-wonderland-2010-colorful-fantasy-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

.img-card {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
